Repository Abishethvarman/programming-resources, pull requests merged in 2023-10, with the labels that each got.

#5 PR1: 1-array.MD
  1-data-structures/2-javascript/1-array.MD
Labels: documentation, good first issue

#15 create 1-array.MD
  1-data-structures/0-c-programming/1-array.MD
Labels: documentation, good first issue

#27 Create 2-stack.MD
  1-data-structures/1-java/2-stack.MD
Labels: documentation, good first issue, hacktoberfest, hacktoberfest-accepted

#29 Update 1-array.MD
  1-data-structures/3-python/1-array.MD
Labels: documentation, hacktoberfest, hacktoberfest-accepted

#32 pr: ava 3-queue
  1-data-structures/1-java/3-queue
Labels: documentation, hacktoberfest, hacktoberfest-accepted, Java

#36 Queue data structure in python
  1-data-structures/3-python/3-queue.MD
Labels: hacktoberfest, hacktoberfest-accepted, Python

#57 PR: DS Linked List in C programming
  1-data-structures/0-c-programming/linked-list.MD
Labels: C Program

#62 PR: Algo quick sort in Java
  1-data-structures/1-java/4-quick sort.MD
Labels: documentation, hacktoberfest, hacktoberfest-accepted, Java, algorithm

#73 PR: Algo quick-sort in Java
  2-algorithms/1-java/quick-sort.MD
Labels: documentation, hacktoberfest, hacktoberfest-accepted, Java, algorithm

#82 PR Algo Linear Search in Python
  2-algorithms/3-python/linear-search.md
Labels: hacktoberfest, hacktoberfest-accepted, Python, algorithm

#71 PR Algo Greedy algorithm in Java
  2-algorithms/1-java/Greedy Algorithm.MD
Labels: hacktoberfest, hacktoberfest-accepted, Java, algorithm

#90 PR:Algo Quick Sort in Python
  2-algorithms/3-python/4-quicksort.MD
Labels: hacktoberfest, hacktoberfest-accepted, Python, algorithm

#104 PR: Algo Selection Sort in JavaScript
  2-algorithms/2-javascript/3-selection-sort.MD
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, JavaScript, algorithm

#100 PR: Algo binary-search in C programming
  2-algorithms/0-c-programming/2-binary-search.MD
Labels: documentation, enhancement, hacktoberfest, hacktoberfest-accepted, C Program, algorithm

#101 PR: Algo Quick Sort in JavaScript
  2-algorithms/2-javascript/2-Quick-sort.md
Labels: algorithm

#109 PR: Algo Merge sort in C programming
  2-algorithms/0-c-programming/mergeSort.md
Labels: hacktoberfest, hacktoberfest-accepted, algorithm

#110 PR: Algo bubble sort in C
  C-bubbleSort/README.md
Labels: hacktoberfest, hacktoberfest-accepted, C Program, algorithm

#116 PR: Algo Insertion sort in C programming
  2-algorithms/0-c-programming/insertion_sort.md
Labels: hacktoberfest, hacktoberfest-accepted, C Program, algorithm

#117 PR: Algo Linear search in C
  1-algorithms/0-c-programming/linear-search.md
  J-shellsort/README.md
Labels: hacktoberfest, hacktoberfest-accepted, C Program, algorithm

#122 PR: Algo shell sort in python
  2-algorithms/3-python/Shellsort.MD
  README.md
Labels: hacktoberfest, hacktoberfest-accepted, Python, algorithm

#121 PR: Algo Shell sort in java
  2-algorithms/1-java/shell-sort.md
Labels: hacktoberfest, hacktoberfest-accepted, Java, algorithm

#118 PR: Algo Bubble Sort in JavaScript
  2-algorithms/2-javascript/Bubble-Sort_Javascript.md
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, JavaScript, algorithm

#132 Add jump search algorithm in python
  2-algorithms/3-python/jump-search.MD
Labels: hacktoberfest, hacktoberfest-accepted, Python, algorithm

#131 Add jump search algorithm in javascript
  2-algorithms/2-javascript/jump-search.MD
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, JavaScript, algorithm

#133 Add jump search algorithm for Java
  2-algorithms/1-java/jump-search.MD
Labels: hacktoberfest, hacktoberfest-accepted, Java

#134 Add jump search algorithm in C
  2-algorithms/0-c-programming/jump-search.MD
Labels: hacktoberfest, hacktoberfest-accepted, C Program

#125 Branch for Shell sort algo
  shell_sort.java
Labels: hacktoberfest, hacktoberfest-accepted
